* {
  /* font-family: "Josefin Sans"; */
  font-family: "GT America Compressed Black", sans-serif;
  /* font-weight: 500; */
}

/* .montserrat-font {
  font-family: "Montserrat Subrayada";
}

.josefin-slab {
  font-family: "Josefin Slab";
} */

/* body {
  font-family: 'GT America Compressed Black', sans-serif;
} */
