@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GT Americ";
    src: url("/fonts/GT-America/GT-America-Compressed-Regular-Trial.otf")
      format("opentype");
    font-weight: normal;
    font-style: normal;
  }
}

* {
  font-family: "GT America", sans-serif;
}

/* .montserrat-font {
  font-family: "Montserrat Subrayada";
}

.josefin-slab {
  font-family: "Josefin Slab";
} */

#hero-switch-text {
  /* position: absolute; */
  /* top: 5vh; */
  /* left: 50vh; */
  /* opacity: 0; */
  /* vertical-align: middle; */
}

.animate-change {
  animation: fade-in 5s ease-in-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    /* transform: translateY(-5vh); */
  }
  50%,
  60% {
    opacity: 1;
    /* transform: translateY(0); */
  }

  100% {
    opacity: 0;
    /* transform: translateY(20vh); */
  }
}
