@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Josefin Sans";
  font-weight: 500;
}

.montserrat-font {
  font-family: "Montserrat Subrayada";
}

.josefin-slab {
  font-family: "Josefin Slab";
}
